body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    color: white;
    background-color: #849d8f;
    transition: all 0.5s linear;
}

.first-body {
    background: #849d8f url('images/ice-creams1.png') center 0 no-repeat;
}

.second-body {
    background: #8996a6 url('images/ice-creams2.png') center 0 no-repeat;
}

.third-body {
    background: #9d8b84 url('images/ice-creams3.png') center 0 no-repeat;
}

*, *::before, *::after {
    box-sizing: inherit;
    font: inherit;
    transition: all 0.1s linear;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.orange-button {
    font-weight: bold;
    background: linear-gradient(0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    text-align: center;
    color: white;
    border: 0;
    border-radius: 15%/60%;
}

.orange-button:hover {
    background:
        linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        linear-gradient(0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
}

.orange-button:active {
    background: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
}

.drop-down-menu {
    display: none;
    position: absolute;
    margin-top: 1px;
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    background: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.drop-down-menu input {
    padding: 10px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.drop-down-menu-left {
    left: -10px;
    margin-top: 7px;
    font-size: 14px;
    font-weight: bold;
}

.drop-down-menu-right {
    padding: 20px 15px;
    z-index: 10;
    right: -10px;
}

.border-radius-box {
    border-radius: 15px;
    padding: 10px 20px;
}

.underline-white {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.underline-white:hover, .underline-white:active {
    color: #ffbc9e;
    border-color: #ffbc9e;
}

.underline-black {
    color: #323232;
    text-decoration: none;
    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.underline-black:hover, .underline-white:active {
    color: #e84d37;
    border-color: #e84d37;
}

/* Header */

header {
    width: 100%;
    height: 57px;
    padding-top: 15px;
}

.header-left {
    display: flex;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-nav {
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
}

.main-nav-item {
    position: relative;
    margin-right: 10px;
    border-radius: 15px;
    padding: 5px 10px;
}


.main-nav-item:last-child {
    margin-right: 0;
}

.main-nav-item:hover {
    background-color: #f8f7f4;
}

.main-nav-item:hover>a {
    color: #323232;
    font-weight: bold;
    border: 0;
}

.main-nav-item:hover .big-nav-list {
    display: block;
}

.main-nav-item:active {
    box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.main-nav-active-item {
    background-color: #d07058;
}

.main-nav-active-item a {
    color: white;
    border: 0;
}


.big-nav-list li {
    margin: 0;
    padding: 10px 20px;
    white-space: nowrap;
}

.big-nav-list li:first-of-type {
    margin: 0 10px;
    padding: 10px 10px;
    border-bottom: 1px solid #d1d0ce;
}

.big-nav-list li:not(li:first-of-type):hover {
    background-color: #fbded7;
}

.big-nav-list li:not(li:first-of-type):active {
    background-color: #d07058;
}

.big-nav-list li:not(li:first-of-type):active a {
    color: white;
}

.big-nav-list a {
    color: #323232;
    font-weight: normal;
    text-decoration: none;
}

.main-buttons {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.buttons-containers {
    position: relative;
    margin-left: 10px;
}

.main-button {
    text-align: center;
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 0;
    border-radius: 20%/50%;
}

.buttons-containers:not(.buttons-containers:last-child):hover .main-button {
    background-color: #f8f7f4;
    color: black;
}

.search {
    margin-left: 0;
    font-size: 0;
    box-sizing: content-box;
    height: 17px;
    width: 17px;
    padding: 7px;
    background-image: url('images/lope.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.search-container:hover .search-form {
    display: block;
}

.search-container:hover .search {
    background-image: url('images/black-loupe.png');
}

.log-in::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 19px;
    margin-right: 5px;
    background: transparent url('images/log-in.png') no-repeat;
}

.log-in-form>* {
    margin-bottom: 20px;
}

.log-in-form input {
    width: 240px;
}

.log-in-btn {
    padding: 15px 20px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 20%/50%;
}

.log-in-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
}

.log-in-bottom-a {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.log-in-bottom-a a {
    color: #323232;
    border-color: #32323233;
}

.log-in-bottom-a div:not(.log-in-bottom-a div:last-of-type) {
    margin-bottom: 5px;
}

.log-in-container:hover .log-in-form {
    display: block;
}

.log-in-container:hover .log-in::before {
    background-image: url('images/black-log-in.png');
}

.basket::before {
    content: url('images/bag.png');
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 20px;
    margin-right: 5px;
    /* background: transparent url('images/bag.png') no-repeat; */
}

.filled-basket {
    background-color: #f8f7f4;
    color: #323232;
}

.filled-basket::before {
    /* background-image: url('images/black-basket.png'); */
    content: url('images/black-basket.png');
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 20px;
    margin-right: 5px;
}

.basket-form {
    /* display: flex;  */
    flex-direction: column;
    align-items: flex-end;
    width: 540px;
}

.basket-table {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacac7;
}

.basket-table td {
    padding: 5px 0;
}

.basket-cross {
    width: 15px;
    background: url('images/cross.png') center no-repeat;
}

.basket-img {
    text-align: center;
}

.basket-img img {
    box-sizing: content-box;
    border-radius: 50%;
    padding-right: 5px;
}

.basket-title {
    max-width: 210px;
}

.basket-count {
    text-align: center;
}

.basket-price {
    text-align: right;
}

.basket-total {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}

.basket-btn {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 24px;
}

.header-contacts {
    position: absolute;
    font-size: 14px;
    text-align: right;
    bottom: -50px;
    right: 0;
}

.header-contacts span {
    font-size: 22px;
    font-weight: bold;
}

/* preview */

.preview-title {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
    line-height: 60.35px;
    text-align: center;
    padding-top: 320px;
    opacity: 0;
    transition: all 0.5s linear;
}

.preview-title-opacity {
    opacity: 1;
}

.preview-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;
}

.preview-controls {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.preview-control {
    padding: 0;
    margin: 0;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
}

.preview-control:not(.preview-control_active):hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.preview-control_active {
    background-color: white;
}

.preview-button {
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
    padding: 10px 30px;
}

.special-for-design {
    width: 50px;
}

/* discounts */

.discounts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.discount-item {
    width: 560px;
    height: 230px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.discount-item:first-of-type {
    background: #91244a url('images/strap.jpg') center no-repeat;
}

.discount-item:last-of-type {
    background: #624646 url('images/choco.jpg') center no-repeat;
}

.discount-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    margin-top: 0;
    margin-bottom: 25px;
}

.discount-desc {
    font-size: 18px;
    font-weight: bold;
}

.discount-btn {
    font-size: 18px;
    text-decoration: none;
    padding: 13px 21px;
}

/* hits */

.hits {
    margin-top: 35px;
}

.hits-list {
    display: flex;
    justify-content: space-between;
}

.hits-item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px 15px 10px;
    text-align: center;
}

.hits-item>* {
    margin-bottom: 10px;
}

.hits-item:hover {
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 5px;
}

.hits-item:hover .hits-btn {
    display: block;
}

.hits-item img {
    border-radius: 50%;
}

.hits-btn {
    display: none;
    align-self: center;
    padding: 10px 15px;
}

.hit::before {
    content: '';
    position: absolute;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background: white url('images/hit.png') center no-repeat;
}

.hits-price {
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    top: 180px;
}

.hits-price span {
    font-size: 30px;
}

/* about */

.about {
    background: white url('images/waffle.jpg') no-repeat;
    color: #323232;
    padding: 30px 20px 10px 20px;
    margin-top: 35px;
}

.about-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-item {
    width: 485px;
    margin-left: 55px;
}

.about-list li::before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    background: transparent no-repeat;
}

.about-list li:nth-of-type(1)::before {
    background-image: url('images/ice\ cream.png');
}

.about-list li:nth-of-type(2)::before {
    background-image: url('images/cow.png');
}

.about-list li:nth-of-type(3)::before {
    background-image: url('images/list.png');
}

.about-list li:nth-of-type(4)::before {
    background-image: url('images/thermo.png');
}

/* cards */

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.news {
    width: 560px;
    height: 220px;
    background: white url('images/ice-cream-backg.jpg') no-repeat;
    color: #323232;
}

.news h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.news a {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    border-bottom: 2px solid rgb(50, 50, 50);
}

.form-email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 220px;
    padding: 40px 25px;
    background: white url('images/email.png') no-repeat;
    color: #5a5a5a;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
}

#email {
    border: 1px solid #b2b2b2;
    width: 365px;
    padding: 10px 15px;
    border-radius: 5px;
}

.submit-button {
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20%/60%;
}

/* map */

.map {
    margin-top: 40px;
    width: 100%;
    height: 430px;
    background: transparent url('images/map.jpg') center no-repeat;
    background-size: cover;
}

.map .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: inherit;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 305px;
    padding: 30px 25px;
    margin: auto 0;
    background-color: white;
    color: #323232;
}

.address p{
    margin: 0
}

.address a{
    font-size: 18px;
    font-weight: bold;
}

.map-button {
    padding: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    border-radius: 10%/60%;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.socials {
    display: flex;
}

.socials li {
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    font-size: 0;
    border-radius: 50%;
    margin-right: 10px;
    opacity: 80%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.socials li:nth-of-type(1) {
    background: url('images/tw.png') center no-repeat;
}

.socials li:nth-of-type(2) {
    background: url('images/inst.png') center no-repeat;
}

.socials li:nth-of-type(3) {
    background: url('images/fb.png') center no-repeat;
}

.socials li:nth-of-type(4) {
    margin-right: 0;
    background: url('images/vk.png') center no-repeat;
}

.socials li:hover {
    opacity: 100%;
}

.socials li:active {
    opacity: 60%;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 50px;
}

.footer-menu li {
    margin-right: 25px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 18px;
}

.footer-menu li:first-of-type {
    font-weight: bold;
}

.heart::before {
    content: '';
    width: 15px;
    height: 13px;
    position: absolute;
    top: 2px;
    left: -20px;
    background: transparent url('images/heart.png') center no-repeat;
}

.footer-logo {
    font-size: 0;
    width: 108px;
    height: 39px;
    background: transparent url('images/logo-htmlacademy-small.png') no-repeat;
}

.copy {
    font-size: 12px;
    line-height: 18px;

}

/* Форма обратной связи */

.feedback-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 475px;
    height: 445px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
    background: #f8f7f4;
    border-radius: 10px;
}

.feedback-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.feedback-close {
    cursor: pointer;
    width: 18px;
    height: 17px;
    background: url('images/fb-cross.png') center no-repeat;
}

.feedback-form input, .feedback-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.feedback-form input {
    width: 265px;
}

.feedback-form textarea {
    align-self: stretch;
}

.feedback-form p {
    margin-top: 0;
}

.feedback-button {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 18px;
}

.display-block {
    display: block;
}

@keyframes error {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 20px red;
    }

    100% {
        box-shadow: none;
    }
}

.feedback-error {
    animation-name: error;
    animation-duration: 0.6s;
}